@charset "UTF-8";
body
{
    background-color: rgb(214, 178, 235);
    color: black;
    font-size: 12pts;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
color: rgb(255, 255, 255);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(84, 116, 223);
    padding: 20px 20px;
  }
  
  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }