@charset "UTF-8";
body
{
    color: black;
    font-size: 12pts;
    font-family: Arial, Helvetica, sans-serif; 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(156,17,182,1) 17%, rgba(0,212,255,1) 100%);
    text-align: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(84, 116, 223);
    padding: 20px 20px;
  }
  
  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }    
  .zé
  { color: rgb(100, 13, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt
    }
    #maria
    { color: rgb(133, 5, 5);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25pt;
    }
    #m
    {
      color: rgb(224, 2, 2);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20pt;
    }
    


